/* Check this website in the mobile view and then use this code in the ecommerce website. */
#container {
  border: 2px solid rgb(0, 0, 0);
  display: grid;
  grid-template-columns: 300px 200px 200px;
  grid-template-rows: 200px 150px;
  width: 700px;
}

.item {
  border: 2px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.item-2 {
  grid-column: 2/4;
}

.item-3 {
  grid-column: 2/3;
}

.item-1 {
  grid-column: 1/2;
  grid-row: 1/3;
}

.item img {
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  border-radius: 12px;
}
/* 
/* #mainArrivalContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
} */
@media screen and (max-width: 720px) {
  #mainArrivalContainer {
    display: grid;
    flex-wrap: none;
    justify-content: none;
    align-items: none;
  }
}
